<ul>
<% @ideas.each do |idea| %>
	<li>
		Idea: <%= link_to idea.name, idea_path(idea.id) %>
		<br/>
		Description: <%= idea.description %>
		<br/>
		Tags: 
		<% idea.tags.each_with_index do |tag, index| %> 
			<%= tag.name %>
			<% if index != idea.tags.count - 1 %>
			|
			<% end %>
		<% end %>
		<br/>
		Votes: <%= idea.votes %> <%= link_to 'Upvote', upvote_idea_path(idea.id) %>
		<br/>
		<%= link_to "Delete Idea", idea_path(idea.id), :method => :delete, :confirm => 'Are you sure?' %>
	</li>
<% end %>
</ul>

<%= link_to 'Submit new idea', new_idea_path %>