Idea: <%= @idea.name %>
<br/>
Votes: <%= @idea.votes %>
<br/>
Description: <%= @idea.description %>
<ul>
<% @comments.each do |comment| %>
	<li>
		Comment: <%= comment.text %>
		<br/>
		Revenue Opportunity: <%= comment.revenue_opp %>
		<br/>
	</li>
<% end %>
</ul>

<%#= link_to 'Add Comment', new_idea_comment_path(@idea.id) %>

<%= form_for([@idea, @comment]) do |f| %>
	Comment: <%= f.text_field :text %>
	<br/>
	Revenue Opportunity: <%= f.number_field :revenue_opp %>
	<br/>
	<%= f.submit %>
<% end %>

<ul>
	<% @idea_tags.each do |tag| %>
		<li>
			<%= tag.name %> <%= link_to 'Delete', idea_tag_path({:t_id => tag.id, :i_id => @idea.id}), :method => :delete %>
		</li>
	<% end %>
</ul>

<%= form_tag(select_tag_idea_path) do %>
	<%= hidden_field_tag 'idea_id', @idea.id %>
	<%= select_tag 'tag_id', options_from_collection_for_select(@tags, "id", "name"), :multiple => true %>
	<%= submit_tag "Tag this idea" %>
<% end %>